
// COLORS
$color-primary-light: #353839;
$color-primary-dark: #0e1111;

$color-secondary-light: #414a4c;
$color-secondary-dark: #3b444b;

$color-tertiary-light: #353839;
$color-tertiary-dark: #232b2b;


//pallete
$color-light-blue: #414a4c;
$color-dark-blue: #3b444b;
$color-dark-grey: #353839;
$color-darkest-grey: #232b2b;
$color-light-black: #0e1111;


$card-1: #890304;
$card-2: #002263;
$card-3: #FFCC00;


// randoms 

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// font

$default-font-size: 1.6rem;